{% extends "panel/base.html" %} {% block title%} Logs {% endblock %} {% block
content%}
<div class="flex flex-row flex-wrap gap-[2%] justify-center">
  <div
    class="w-[48%] min-h-[300px] my-[1%] bg-gray-200 rounded-md min-w-[350px] flex items-center flex-col justify-evenly text-center dark:bg-slate-600"
  >
    <div>
      <h1 class="text-2xl mt-4">Available Logs</h1>
    </div>

    {% for log in logs %}

    <p class="mb-4 bg-gray-500 px-14 py-2 rounded-full text-white">{{log}}</p>
    {% endfor %}
  </div>

  <div
    class="w-[48%] min-h-[300px] my-[1%] bg-transparent rounded-md min-w-[350px] flex items-center flex-col justify-evenly text-center dark:bg-slate-900"
  ></div>
</div>
{% endblock %}
