<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileDrop Panel Login</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
      type="text/css"
    />
  </head>
  <body class="bg-slate-50 m-0 p-0 dark:bg-slate-900">
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <div
      class="text-center text-xl text-bold w-[90%] mx-auto fixed top-5 left-1/2 transform -translate-x-1/2"
    >
      {% for cattegory, message in messages %}
      <div
        class="py-4 {% if cattegory == 'error' %} bg-red-200 text-red-700 {% elif cattegory == 'success' %} bg-green-200 text-green-700 {% elif cattegory == 'warning' %} bg-yellow-200 text-yellow-700 {% endif %} rounded-md mb-3"
      >
        {{message | safe}}
        <span
          class="cursor-pointer font-bold hover:underline duration-200 float-right mr-5"
          onclick="this.parentElement.remove()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </span>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="flex flex-row justify-left m-4 flex-wrap">
    {% for file in files %}
        <a href="/file/{{file}}" target="_blank" class="max-w-[300px] text-sm bg-blue-500 py-4 px-2 rounded-md m-2 text-white duration-200 hover:bg-blue-600 active:bg-blue-700">{{file}}</a>
    {% endfor %}
    </div>
  </body>
</html>