<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FileDrop Panel Login</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
      type="text/css"
    />
  </head>
  <body class="bg-slate-50 m-0 p-0 dark:bg-slate-900">
    <div class="text-center text-xl text-bold w-[20%] mx-auto">
      <div class="py-4 bg-yellow-200 text-yellow-700 rounded-md mb-3 ">
        demo
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %} {% if messages %}
    <div class="text-center text-xl text-bold w-[20%] mx-auto">
      {% for cattegory, message in messages %}
      <div class="py-4 {% if cattegory == 'error' %} bg-red-200 text-red-700 {% elif cattegory == 'success' %} bg-green-200 text-green-700 {% elif cattegory == 'warning' %} bg-yellow-200 text-yellow-700 {% endif %} rounded-md mb-3 ">
        {{message}}
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div
      class="flex justify-center items-center min-h-screen flex-col content-evenly text-center"
    >
      <p class="p-4 text-5xl dark:text-white">
        FileDrop
        <span
          class="font-bold bg-gradient-to-r from-blue-400 to-blue-600 inline-block text-transparent bg-clip-text py-2"
          >Panel</span
        >
      </p>

      <form method="POST" action="{{url_for('main.login')}}">
        <!-- <input
          type="text"
          name="login"
          required
          placeholder="username"
          class="text-blue-500 placeholder-blue-500 capitalize px-[1rem] py-[0.9rem] mb-4 rounded-md duration-150 bg-blue-50 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none border-[2px] border-solid border-blue-500 max-sm:w-[70%] max-sm:h-[40%] dark:bg-blue-950 dark:hover:bg-blue-900 dark:focus:bg-blue-800 dark:placeholder-white dark:text-white"
        /><br /> -->
        <input
          type="password"
          name="password"
          required
          placeholder="password"
          class="text-blue-500 placeholder-blue-500 capitalize px-[1rem] py-[0.9rem] mb-4 rounded-md duration-150 bg-blue-50 hover:bg-blue-100 focus:bg-blue-200 focus:outline-none border-[2px] border-solid border-blue-500 max-sm:w-[70%] max-sm:h-[40%] dark:bg-blue-950 dark:hover:bg-blue-900 dark:focus:bg-blue-800 dark:placeholder-white dark:text-white"
        /><br />
        <input
          type="submit"
          class="bg-blue-500 px-14 py-2 rounded-full text-white duration-200 hover:bg-blue-600 active:bg-blue-700"
          value="Login"
        />
      </form>
    </div>
  </body>
</html>
